<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ms.device.mapper.ApkInfoMapper">

	<select id="selectLatest" resultType="cn.ms.device.schema.ApkInfo">  
	    SELECT * from ApkInfo apk1 join 
	    (select sysCode,max(uploadTime) as uploadTime from ApkInfo where publishFlag='2' group by sysCode) as apk2
	    on apk1.sysCode = apk2.sysCode and apk1.uploadTime = apk2.uploadTime
	</select> 

</mapper>

